.about {
    padding: 120px 20px;
    background: #0f0f0f;
    color: white;
}

.about-contanier{
    max-width: 1000px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.about-text h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-text p{

    line-height: 1.6;
    margin-bottom: 15px;
    opacity: 0.9;
}

.about-image img{
    margin-top: 200px;
    width: 100%;
    height: auto ;
    object-fit:cover;
}

@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}
