.contact {
  padding: 120px 20px;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.contact-form {
  max-width: 600px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  background: #1a1a1a;
  border: none;
  color: white;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form button {
  padding: 15px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
}
