.gallery {
  padding: 120px 20px;
  background: #000;
  color: white;
  text-align: center;
}

.gallery h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.gallery-grid {
  max-width: 1300px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}